{% extends 'main.html' %}
{% block content %}
<div class="uk-container">
    <form action="{% url 'create_user_group' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                {{field.errors}}
            {% endif %}
            <div class="form_cell">
                <div class="label_weight">{{field.label}}:</div>
                {{field}}
            </div>

            <br>
        {% endfor %}
        <button type="submit">Add</button>
    </form>
</div>
{% endblock %}